.ff-L {
font-family: "Lato", "Arial", sans-serif;
}

.ff-DS {
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.ff-A {
  font-family: "Arial", sans-serif;
}
.df {
  display: flex;
}

.f52 {
  font-size: 52px;
}

.c-w {
  color: white;
}

.l-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

.bg-r {
  background: url("../img/footer.png") repeat;
}

.bg-m {
  background: url("../img/mask2.png") no-repeat 50% 863px,
  url("../img/mask1.png") no-repeat 50% 849px,
  url("../img/main.jpg") no-repeat 50% 0;
}

.h765 {
  height: 765px;
}

.w400 {
  width: 400px;
}

.light {
  font-weight: 300;
}

.lh62 {
  line-height: 62px;
}
.w100 {
  width: 100%;
}
.w962 {
  width: 962px;
}
.ma {
  margin: auto;
}
.w1550 {
  width: 1550px;
}
.mt21{
  margin-top: 21px;
}
.w640 {
  width: 640px;
}
.jsb {
  justify-content: space-between;
}
.ml220 {
  margin-left: 220px;
}
.mt50 {
  margin-top: 50px;
}
.pr25 {
  padding-right: 25px;
}
.pr15 {
  padding-right: 15px;
}
.mt125 {
  margin-top: 125px;
}
.pl10 {
  padding-left: 10px;
}
.bg-w {
  background-color: white;
}
.tdn {
  text-decoration: none;
}
.fs20 {
  font-size: 20px;
}
.lh28 {
  line-height: 28px;
}
.italic {
  font-style: italic;
}
.w270 {
  width: 270px;
}
.c-g {
  color: #fe992a
}
.h425 {
  min-height: 425px;
}
.pt50 {
  padding-top: 50px;
}
.pos-r {
  position: relative;
}
.fs14 {
  font-size: 14px;
}
.lh28 {
  line-height: 28px;
}
.lh25 {
  line-height: 25px;
}
.normal {
  font-weight: 400;
}
.w590 {
  width: 590px;
}
.c-db {
  color: #737c85;
}
.mb20 {
  margin-bottom: 20px;
}
.arrow::after {
  content: "\2023";
  position: absolute;
  width: 5px;
  height: 5px;
  right: 0;
  top: 50%;
  transform: rotate(90deg);
}
.commas::before {
  content: "\201C";
  position: absolute;
  top: -21px;
  left: -2;
  font-size: 45px;
}
.commas::after {
  content: "\201E";
  position: absolute;
  bottom: -10px;
  left: 72px;
  font-size: 45px;
}
.h390 {
  min-height: 390px;
}
.bg-dg {
  background-color: #fe992a;
}
.br-n {
  border: none;
}
.fs15 {
  font-size: 15px;
}
.w30{
  width: 30px;
}
.h30 {
  height: 30px;
}
.bg-gl {
  background-color: #ffba6e
}
.mt90 {
  margin-top: 90px;
}
.ml185 {
  margin-left: 185px;
}
.ml-5 {
  margin-left: -5px;
}
.fs12 {
  font-size: 12px;
}
.w310 {
  width: 310px;
}
.w144 {
  width: 144px;
}
.pt10 {
  padding-top: 10px;
}
.w130 {
  width: 130px;
}
.lh30 {
  line-height: 30px;
}
